{% extends "base.html" %}

{% block title %}Available Discounts{% endblock %}
{% block header_title %}Available Discounts{% endblock %}

{% block content %}
<section class="hero">
    <h1>Find Student Discounts Easily</h1>
    <p>Save more on your favorite brands with student discounts</p>
    <a href="{% url 'category_listing' %}" class="flat-button">Browse Discounts</a>
</section>

<!-- Categories Section -->
<section id="categories" class="categories container">
    {% for category in categories %}
    <div class="category-item">
        {% if category.image %}
        <img src="{{ category.image.url }}" alt="{{ category.name }}">
        {% else %}
        <img src="default-image.jpg" alt="{{ category.name }}">
        {% endif %}
        <h3>{{ category.name }}</h3>
    </div>
    {% endfor %}
</section>

<!-- Featured Discount Section -->
<section class="featured-discounts container">
    {% for discount in discounts %}
    <div class="discount-card">
        {% if discount.company_logo %}
        <img src="{{ discount.company_logo }}" alt="{{ discount.title }}">
        {% endif %}
        <h3>{{ discount.title }}</h3>
        <a href="{% url 'discount_detail' discount.slug %}" class="cta-button">Claim Offer</a>
    </div>
    {% endfor %}
</section>

<!-- Testimonials Section -->
<section class="testimonials">
    <div class="testimonial">
        <p>"This website helped me save so much on my student purchases!"</p>
        <h4>- Student A</h4>
    </div>
    <div class="testimonial">
        <p>"I found discounts I never knew existed. Very helpful!"</p>
        <h4>- Student B</h4>
    </div>
</section>


{% endblock %}
